*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 200px;
    background-image: linear-gradient(to right, #4E7C32, rgb(165, 162, 162) );
    padding: 42px 180px 25px 180px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

header > div:nth-child(1){
    width: 100%;
    display: flex;
    gap: 100px;
    justify-content: space-around;
    align-items: center;
}

.menu{
    a{
        height: 45px;
        width: 45px;
        position: absolute;
        img{
            height: 35px;
            width: 35px;
            margin: 5px 5px;
        }
    }
}

.acc{
    color: white;
    font-size: 15.85px;
    line-height: 27.2px;
    font-family: 'Poppins';
    img{
        height: 30px;
        width: 30px;
        position: absolute;
        top: 48px
    }
}

header > div > input{
    width: 525px;
    height: 45px;
    border-radius: 3px;
    border: 0;
    font-size: 12.89px;
    padding: 12px 201px 11.96px 31px;
    font-family: 'Poppins';
    font-weight: lighter;
}

header > div > input:focus-visible{
    outline: 0;
}

nav{
    padding-top: 20px;
    font-size: 13.64px;
    font-family: 'Poppins';
    font-weight: 600;
}

/* nav > ul {
    display: flex;
    gap: 23px;
    justify-content: left;
} */

/* nav > ul > li{
    list-style: none;
}

nav > ul > li > a{
    text-decoration: none;
    color: white;
} */

.dropdown {
    position: relative;
    display: inline-block;
    a{
        color: white;
        padding-right: 24px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        text-decoration: none;
    }
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(238, 230, 230);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: rgb(197, 228, 199)}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.box{
    margin: 0 auto;
}


.abc{
    background-color: yellow;
    height: 300px;
    width: 500px;
    margin-left: 100px;
    margin-top: 100px;
}


.box1{
    height: 150px;
    background-color: rgb(238, 230, 230);
    padding: 15px 32px;
    a{
        width: 220px;
        float: left;
        margin: 0 6px;
        text-decoration: none;
        margin-left: 110px;
        margin-top: 10px;
        h1{
            margin-top: 30px;
        }
    }
}

.box2{
    height: 450px;
    background-color: white;
    padding: 25px 0px;
    a{
        height: 360px;
        float: left;
        margin: 0 0px;
        margin-left: 80px;
        
        img{

            width: 220px;
            height: 300px; 
            padding-left: 60px;
            padding-bottom:20px;
            padding-top: 40px;

        }
        p{
            padding-bottom: 10px;
        }
    }
}

.box3{
    height: 750px;
    background-color: rgb(238, 230, 230);
    padding-left: 200px;
    padding-top: 50px;
    a{
        width: 220px;
        float: left;
        margin: 0 6px;
        text-decoration: none;
        img{
            border-radius: 15px;
            margin-top: 30px;
        }
    }
}

.khung{
    background-color: gray;
    position: absolute; 
    height: 50px;
    opacity: 0.6;
    h1{
        margin-left: 20px;
    }
}

.box6{
    height: 800px;
    background-color: rgb(238, 230, 230);
    padding: 0px 40px;
    a{
        width: 220px;
        float: left;
        text-decoration: none;
        margin: 30px 60px;
        img{
            width: 280px;
            height: 340px;
            border-radius: 15px;
            box-shadow: 0 0 10px gray;
        }
    }
}

.khung2{
    background-color: black;
    position: absolute; 
    opacity: 0.4;
    text-align: center;
    top: 2300px;
    width: 220px;
    b{
        margin-left: 10px;
        color: white;
        font-size: 1.2vw;
    }
    p{
        margin-left: 10px;
        color: white
    }
}

.khung3{
    background-color: black;
    position: absolute; 
    opacity: 0.4;
    text-align: center;
    top: 2700px;
    width: 220px;
    b{
        margin-left: 10px;
        color: white;
        font-size: 1.2vw;
    }
    p{
        margin-left: 10px;
        color: white
    }
}

.price{
    span{
        font-size: 15px;
    }
    b{
        font-size: 15px;
        margin-left: 100px;
    }
}
.box5{
    height: 280px;
    background-color: rgb(2, 60, 41);
    padding: 15px 32px;
    a{
        width: 220px;
        float: left;
        margin: 0 6px;
        text-decoration: none;
        margin-left: 110px;
        margin-top: 10px;
        span{
            color: white;
        }
        p{
            color: white;
            margin-bottom: 20px;
            font-size: 1.2vw;
        }
        ul{
            color: white;
            font-size: 0.8vw;
        }
    }
}

.box4{
    height: 400px;
    background-image: linear-gradient(to top left, rgb(197, 228, 199), rgb(238, 230, 230));
    padding: 15px 32px;
    a{
        width: 280px;
        float: left;
        margin: 0 6px;
        text-decoration: none;
        margin-top: 40px;
        ul{
            color: black;
            font-size: 1.2vw;
        }
        input{
            text-align:center;
            font-size: 1.2vw;
        }
        p{
            margin: 15px 20px;
        }
    }
}

.mail{
    background-color: gray;
    position: absolute;
    left: 730px;
    top: 3255px;
    img{
        width: 30px;
        height: 30px;
        margin: 5px 5px;
    }
}

.box7{
    font-family: Arial, Helvetica, sans-serif;
    height: 50px;
    background-color: rgb(1, 46, 32);
    padding-left: 0px;
    padding-top: 10px;
    a{
        width: 220px;
        float: left;
        margin: 0 6px;
        text-decoration: none;
        p{
            color: white;
            font-size: 0.8vw;
        }
    }
}

.box8{
    height: 150px;
    padding-top: 40px;
    a{
        width: 500px;
        float: left;
        margin: 0 6px;
        text-decoration: none;
        margin-left: 110px;
        margin-top: 10px;
        padding-left: 200px;
    }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
